
<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Find-A-Planner</h1>
</div>
    <h2>What is Find-A-Planner</h2>
    <p>This application was designed to make financial planning costs more competitive so the customer has better access to professional financial advice. Each planner registers their Australian Financial Services Licence (AFSL) and their background while each customer registers and completes the fact finder so that a planner can tailor their advice to each client. Paired with online advice this can give sound financial advice to younger investors at a cheaper rate.</p>
