<h1>Dashboard</h1>

<h2>Welcome .insert name of user.</h2>


<h3>List of current orders:</h3>

If no orders say make an order with this button

<p class="lead"><%= link_to "Add Advice", clients_new_path, class:"btn btn-primary btn-lg"%></p>