<h1>Fill in the details</h1>

<form action="/client/advice" method="post">
    <!-- Ask for Principle place of resident net worth -->
    <label>Rough amount your home is worth: </label>
    <input type="integer" name="PPOR">
    <br><br/>

    <!-- Ask for Contents net worth -->
    <label>Contents Value:</label>
    <input type="text" name="PPOR">
    <br><br/>

    <!-- Ask for Principle place of resident net worth -->
    <label>Customer Assets</label>
    <input type="text" name="PPOR">
    <br><br/>

    <!-- Ask for Principle place of resident net worth -->
    <label>Customer Assets</label>
    <input type="text" name="PPOR">
    <br><br/>

    <!-- Ask for Principle place of resident net worth -->
    <label>Customer Assets</label>
    <input type="text" name="PPOR">
    <br><br/>

    <!-- Ask for Principle place of resident net worth -->
    <label>Customer Assets</label>
    <input type="text" name="PPOR">
    <br><br/>

    <!-- Ask for Principle place of resident net worth -->
    <label>Customer Assets</label>
    <input type="text" name="PPOR">
    <br><br/>

    <!-- Ask for Principle place of resident net worth -->
    <label>Customer Assets</label>
    <input type="text" name="PPOR">
    <br><br/>

    <!-- Ask for Principle place of resident net worth -->
    <label>Customer Assets</label>
    <input type="text" name="PPOR">
    <br><br/>


</form>