<h1>Fill in the details</h1>

<form action="<%= admin_path %>" method="post">

    <label>Title</label>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>%">

    <!-- Ask for Principle place of resident value -->
    <label>Rough amount your home is worth: </label>
    <input type="integer" name="PPOR">
    <br><br/>

    <!-- Ask for Contents value -->
    <label>What is the value of your contents: </label>
    <input type="integer" name="contents">
    <br><br/>

    <!-- Ask for Investment property values -->
    <label>What is your investment property worth: </label>
    <input type="integer" name="investment">
    <br><br/>

    <!-- Ask for business ownership value -->
    <label>Do you own a business or part own, and what is it worth: </label>
    <input type="integer" name="business">
    <br><br/>

    <!-- Ask for Collectables value -->
    <label>Do you own any collectables: </label>
    <input type="integer" name="collectables">
    <br><br/>

    <!-- Ask for Shares value -->
    <label>What is the value of your share portfolio: </label>
    <input type="integer" name="shares">
    <br><br/>

    <!-- Ask for cash in bank -->
    <label>How much cash do you have in the bank: </label>
    <input type="integer" name="cash">
    <br><br/>

    <!-- Ask for vehicle value -->
    <label>How much are your vehicles worth, don't take into account how much is owing: </label>
    <input type="integer" name="vehicle">
    <br><br/>

    <!-- Ask for any other assets they can think of -->
    <label>What is the value of anything else you can add to your assets: </label>
    <input type="integer" name="other">
    <br><br/>

    <!-- Submit button -->
    <input type="submit" value="Request Advice">
</form>