<nav>

    <ul>
        <li><a href="/index">Find-A-Planner</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/howto">How To</a></li>
        <li>Login</li>
        <li><a href="/register">Register</a></li>
    </ul>
 
</nav>